body {
    /* a cause de navbar-fixed-top, il faut se padding pour 
    que le contenu ne soit pas en dessous */
    padding: 70px;
    /* image de fond du site web */
    background: url('../img/background.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
}

#map {
    height: 500px;
    width: 100%;
}
